{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div class="container-fluid">

        <div class="row">
            <h1 class="col-12 text-center my-5">Le Blog de Batman</h1>
        </div>

        <div class="row">
            <p class="col-12 col-md-10 offset-md-1 text-center">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero consequatur, magni commodi cupiditate sequi corrupti culpa quis voluptatum quasi, ut tempora. Possimus sapiente facilis aspernatur eum fugit dolore mollitia qui harum, accusamus ipsam iure officiis deserunt soluta, sequi similique repudiandae cupiditate dolores reiciendis unde dolorum libero quisquam voluptas quis. Similique!</p>
        </div>


        <div class="batman-cover row my-5"></div>

    </div>


{% endblock %}